/*****************/
/*  COMPONENTS  */
/***************/
/*  container */
.container {
  padding: 0 3.2rem;
  margin: 0 auto;
}
.container--xs {
  max-width: 60rem;
}
.container--sm {
  max-width: 100rem;
}
.container--md {
  max-width: 120rem;
}
.container--lg {
  max-width: 140rem;
}
/*  headings  */
.heading-primary {
  font-size: 5rem;
  line-height: 1.05;
}
.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
}
.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
}
.subheading {
  font-size: 1.6rem;
  letter-spacing: 0.75px;
}
.heading-post {
  font-size: 4.4rem;
  line-height: 1.2;
}
.heading-footer {
  font-size: 1.8rem;
}
/*   icons   */
.icon-xs {
  height: 2.4rem;
  width: 2.4rem;
}
.icon-sm {
  height: 3.2rem;
  width: 3.2rem;
}
.icon-md {
  height: 4.8rem;
  width: 4.8rem;
}
.icon-blue {
  color: #46a1c9;
}
.icon-darkGray {
  color: #333;
}
.icon-dark {
  color: #232323;
}
/*   images   */
.img-30 {
  width: 30%;
}
.img-38 {
  width: 38%;
}
.img-80 {
  width: 80%;
}

/*  buttons  */
.btn,
.btn:link,
.btn:visited {
  display: block;
  font-size: 1.6rem;
  padding: 1.2rem 1.6rem;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.5s;
}
.btn--baseline {
  align-self: end;
}
.btn-hover {
  color: #fff;
  background-size: 300% 100%;

  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.btn-hover:focus {
  outline: none;
}
.btn-hover--blue,
.btn-hover--dark {
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn-hover--blue {
  background-image: linear-gradient(
    to right,
    #29323c,
    #2b5876,
    #46a1c9,
    #46a1c9
  );
}
.btn-hover--dark {
  background-image: linear-gradient(to right, #333, #232323, #fff, #fff);
}
.btn-hover--dark:hover {
  color: #232323;
}
.btn-hover--blue:hover {
  color: #fff;
}
.btn-hover--dark:hover,
.btn-hover--blue:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn25 {
  width: 25%;
}
.btn40 {
  width: 40%;
}
/*   links   */
.link:link,
.link-dark:link,
.link:visited,
.link-dark:visited,
.link-light:link,
.link-light:visited {
  display: inline-block;
  font-size: 1.6rem;
  transition: all 0.5s;
}
.link-light {
  color: #fff;
}
.link:hover,
.link:active,
.link-light:hover,
.link-light:active {
  color: #46a1c9;
}
.link-dark:hover,
.link-dark:active {
  color: #232323;
}
.link--underline {
  border-bottom: 1px solid currentColor;
}
.link--underline:hover,
.link--underline:active {
  border-bottom: 1px solid transparent;
}

/*   lists   */
.list {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.list-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.6rem;
  line-height: 1.2;
}

/*     logo     */
.logo {
  height: 4.8rem;
}
.logo--footer {
  height: 10rem;
  width: auto;
}

/******************/
/*    MODULES    */
/****************/
/* primary-nav */
.primary-nav-list {
  display: flex;
  align-items: center;
  gap: 4rem;
}
/* dashboard Navs  */
.dashboard-navs {
  display: block;
}
.dashboard-navs .dashboard--login--is-visible,
.dashboard-navs .dashboard--logged {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 4.8rem;
  background-color: #232323;
}
.dashboard-navs .dashboard--logged__list a {
  font-size: 1.4rem;
}
/* dashboard-login  */
.dashboard--login,
.dashboard--login__list {
  display: none;
}
.dashboard--login .dashboard--login__nav .dashboard--login__list--is-visible {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-left: auto;
}
/* dashboard--login */
.dashboard-navs .dashboard--login__nav .dashboard--login__list li a,
.dashboard-navs .dashboard--login__nav .dashboard--login__list li a ion-icon,
.dashboard-navs .dashboard--login__nav .dashboard--login__list li p {
  display: flex;
  align-items: center;
}
.dashboard--login__nav .dashboard--login__list li ion-icon {
  padding-right: 0.4rem;
}
/* dashboard-logged */
.dashboard--logged__list,
.dashboard--logged__nav .dashboard--logged__list li a {
  display: flex;
  align-items: center;
}
.dashboard--logged__nav .dashboard-logged__list li a {
  display: flex;
  align-items: center;
}
.dashboard--logged__nav .dashboard--logged__list li ion-icon {
  padding-right: 0.4rem;
}
.dashboard--logged__nav .dashboard--logged__list li:not(:last-child) {
  padding-right: 3.2rem;
}

/*******************/
/*******************/
/*******************/
/*******************/
/*******************/
/*******************/

/* vertical-nav */
.vertical-nav {
  display: flex;
  flex-direction: column;
}
.vertical--sm {
  gap: 1.6rem;
}
.vertical-gap--sm {
  gap: 1.6rem;
}
.vertical--med {
  gap: 2.4rem;
}

/*******************/
/*******************/
/*******************/
/*******************/
/*******************/
/*******************/

/*   side-menu   */
.side-menu-wrapper {
  position: fixed;
  top: 190px;
  left: 25px;
  bottom: 0;
  width: 80px;
  height: 60px;
  z-index: 5500;
  transition: all 0.15s ease-in-out;
}
.active .side-menu-wrapper {
  width: 145px;
  height: 244px;
  background-color: rgba(255, 255, 255, 0.25);
}
.menu,
.menu-object {
  height: 54px;
  margin: 95px auto;
  width: 145px;
  position: fixed;
  top: 190px;
  left: 25px;
  bottom: 0;
  z-index: 5500;
}
.menu {
  -webkit-filter: url("#goo");
  filter: url("#goo");
}
.menu ul,
.menu-object ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu ul li,
.menu-object ul li {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  cursor: pointer;
}
.menu svg {
  overflow: hidden;
}

/* side-menu icons */
.ico01 {
  background-color: #232323;
  color: #fff;
  border: 1.4px solid rgba(255, 255, 255, 1);
  position: relative;
  z-index: 5;
}
.ico02 {
  background-color: #232323;
  transition: transform 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.25s;
  z-index: 4;
}
.ico04 {
  background-color: #46a1c9;
  transition: transform 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.2s;
  z-index: 3;
}
.ico03 {
  background-color: #232323;
  transition: transform 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.15s;
  z-index: 2;
}
.ico05 {
  background-color: #232323;
  transition: transform 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  z-index: 1;
}
.move-ico {
  position: absolute;
  top: 0;
}
.active .ico02 {
  transform: translate(25px, -90px);
  transition: transform 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}
.active .ico04 {
  transform: translate(85px, -39px);
  transition: transform 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.15s;
}
.active .ico03 {
  transform: translate(85px, 39px);
  transition: transform 0.3s cubic-bezier(0.77, 0, 0.175, 0.8) 0.2s;
}
.active .ico05 {
  transform: translate(25px, 90px);
  transition: transform 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.25s;
}
.menu-object .ico01 ion-icon {
  margin: auto;
  color: #fff;
  transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}
.menu-object .link,
.menu-object .link button {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  line-height: 1;
}
.menu-object .link button {
  border-radius: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.menu-object .ico04 .link {
  color: #232323;
}
.menu-object .link ion-icon,
.menu-object .link button ion-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.menu-object .ico01 ion-icon {
  position: absolute;
  top: 30%;
  left: 30%;
}
.active .menu-object .ico01 ion-icon {
  transform: rotate(90deg);
}

.move-ico--is-not-active {
  background-color: rgba(0, 0, 0, 0.5);
}

.move-ico--is-not-active .link,
.move-ico--is-not-active .link button {
  cursor: not-allowed;
}

.move-ico--is-not-active .link ion-icon,
.move-ico--is-not-active .link button ion-icon {
  color: rgb(84, 84, 84);
}
.move-ico--is-active {
  border: 2px solid #fff;
}
