/*  COMPONENTS  */
/***************/
/*  CONTAINER */
/*************/
.container {
  padding: 0 3.2rem;
  margin: 0 auto;
}
.container--xs {
  max-width: 60rem;
}
.container--sm {
  max-width: 100rem;
}
.container--md {
  max-width: 120rem;
}
.container--lg {
  max-width: 140rem;
}

/**************/
/*  HEADING  */
/************/
.heading-primary {
  font-size: 5rem;
  line-height: 1.05;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
}
.subheading {
  font-size: 1.6rem;
  letter-spacing: 0.75px;
}
.heading-post {
  font-size: 4.4rem;
  line-height: 1.2;
}
.heading-footer {
  font-size: 1.8rem;
}
/**************/
/*   ICONS   */
/************/
.icon-xs {
  height: 2.4rem;
  width: 2.4rem;
}
.icon-sm {
  height: 3.2rem;
  width: 3.2rem;
}
.icon-md {
  height: 4.8rem;
  width: 4.8rem;
}

.icon-blue {
  color: #46a1c9;
}
.icon-darkGray {
  color: #333;
}
.icon-dark {
  color: #232323;
}
/***************/
/*   IMAGES   */
/*************/
.img-30 {
  width: 30%;
}
.img-38 {
  width: 38%;
}
.img-80 {
  width: 80%;
}

/**************/
/*  BUTTONS  */
/************/
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 1.6rem;
  padding: 1.2rem;
  border-radius: 25px;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.5s;
}
.btn--blue,
.btn--blue:link,
.btn--blue:visited,
.btn--blue:active {
  background-color: #46a1c9;
  color: #fff;
}
.btn--blue:hover {
  background: #fff;
  color: #333;
}

.btn--dark,
.btn--dark:link,
.btn--dark:visited {
  background-color: #232323;
  color: #fdf2e9;
}
.btn--dark:hover,
.btn--dark:active {
  background-color: #fff;
  color: #555;
}
.btn--form {
  width: 40%;
}
.btn--baseline {
  align-self: end;
}

/**************/
/*    TAGS   */
/************/
.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
}
/**************/
/*   LINKS   */
/************/
.link:link,
.link-dark:link,
.link:visited,
.link-dark:visited,
.link-light:link,
.link-light:visited {
  display: inline-block;
  font-size: 1.6rem;
  transition: all 0.5s;
}
.link-light {
  color: #fff;
}
.col-nav li .link-sm {
  font-size: 1.4rem;
}

.link:hover,
.link:active,
.link-light:hover,
.link-light:active {
  color: #46a1c9;
}
.link-dark:hover,
.link-dark:active {
  color: #232323;
}

.link--underline {
  border-bottom: 1px solid currentColor;
}
.link--underline:hover,
.link--underline:active {
  border-bottom: 1px solid transparent;
}

/**************/
/*   LISTS   */
/************/
.list {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.6rem;
  line-height: 1.2;
}

/*****************/
/*     LOGO     */
/***************/
.logo {
  height: 4.8rem;
}

.logo--footer {
  height: 10rem;
  width: auto;
}

/*****************/
/*   MENU ICON  */
/***************/
.menu-icon {
  display: none;
}

/*  MODULES  */
/**************************/
/* NAVIGATION */
/**************************/
.primary-nav-list {
  display: flex;
  align-items: center;
  gap: 4rem;
}

/**************************/
/*    DASHBOARD NAVS  */
/**************************/
/* Dashboard-login  */
.dashboard-login {
  display: none;
}
.dashboard-login-is-visible {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #232323;
  height: 4rem;
  padding: 0 6.4rem;
}

/*  Dashboard-login-nav  */
.dashboard-login-list {
  display: none;
}
.dashboard-login-list-is-visible {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.dashboard-login-nav .dashboard-login-list li a,
.dashboard-login-nav .dashboard-login-list li p {
  display: flex;
  align-items: center;
}
.dashboard-login-nav .dashboard-login-list li ion-icon {
  padding-right: 0.4rem;
}
/* Dashboard Navs  */
.dashboard-navs {
  display: block;
}
.dashboard-navs .dashboard-logged-list a {
  font-size: 1.4rem;
}
/* Dashboard Logged  */
.dashboard-logged {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding: 0 6.4rem;
}

/*  Nav  */
.dashboard-logged-list {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.dashboard-logged-nav .dashboard-logged-list li a,
.dashboard-logged-nav .dashboard-logged-list li p {
  display: flex;
  align-items: center;
}
.dashboard-logged-nav .dashboard-logged-list li ion-icon {
  padding-right: 0.4rem;
}

/*********************/
/*  VERTICAL NAV    */
/*******************/
.vertical-nav {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

/***************/
/*  ALERTS    */
/*************/
.alert {
  display: block;
  margin: 0 auto 0.8rem;
  padding: 0.4rem 0;
  // background-color: transparent;
  background-color: white;
}
.alert p {
  text-indent: 2.4rem;
}
.alert-success {
  border: 1px solid #058f1a;
  color: #058f1a;
}
.alert-danger {
  border: 1px solid #f84f4f;
  color: #f84f4f;
}

/***************************/
/*   SIDE BUTTONS  MENU   */
/*************************/
.side-menu-wrapper {
  position: fixed;
  top: 400px;
  left: 25px;
  bottom: 0;
  width: 80px;
  height: 60px;
  z-index: 5500;
  transition: all 0.75s ease-in-out;
}
.active .side-menu-wrapper {
  width: 145px;
  height: 244px;
  background-color: rgba(255, 255, 255, 0.25);
}

.menu,
.menu-object {
  height: 54px;
  margin: 95px auto;
  width: 145px;
  position: fixed;
  top: 400px;
  left: 25px;
  bottom: 0;
  z-index: 5500;
}

.menu {
  -webkit-filter: url("#goo");
  filter: url("#goo");
}
.menu ul,
.menu-object ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu ul li,
.menu-object ul li {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  cursor: pointer;
}

.menu svg {
  overflow: hidden;
}

/***************/
/* MENU ICONS */
/*************/
.ico01 {
  background-color: #232323;
  color: #fff;
  border: 1.5px solid rgba(255, 255, 255, 0.85);
  position: relative;
  z-index: 5;
}
.ico02 {
  background-color: #232323;
  transition: transform 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.25s;
  z-index: 4;
}
.ico03 {
  background-color: #232323;
  transition: transform 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.2s;
  z-index: 3;
}
.ico04 {
  background-color: #888;
  transition: transform 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.15s;
  z-index: 2;
}
.ico05 {
  background-color: #232323;
  transition: transform 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  z-index: 1;
}
.move-ico {
  position: absolute;
  top: 0;
}

.active .ico02 {
  transform: translate(25px, -90px);
  transition: transform 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}
.active .ico03 {
  transform: translate(85px, -39px);
  transition: transform 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.15s;
}
.active .ico04 {
  transform: translate(85px, 39px);
  transition: transform 0.3s cubic-bezier(0.77, 0, 0.175, 0.8) 0.2s;
}
.active .ico05 {
  transform: translate(25px, 90px);
  transition: transform 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.25s;
}

.menu-object .ico01 ion-icon {
  margin: auto;
  color: #fff;
  transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}
.menu-object .link {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  line-height: 1;
}

.menu-object .link ion-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.menu-object .ico01 ion-icon {
  position: absolute;
  top: 30%;
  left: 30%;
}

.active .menu-object .ico01 ion-icon {
  transform: rotate(90deg);
}
