/************************************/
/* BELOW 1344px (Smaller desktops) */
/**********************************/
@media (max-width: 84em) {
  /* grid */
  // .grid {
  //   row-gap: 6.4rem;
  //   column-gap: 4.8rem;
  // }
  // .grid--3-cols {
  //   grid-template-columns: repeat(2, 1fr);
  // }
  // .grid--contact-details {
  //   column-gap: 4.8rem;
  // }
  /* hero */
  .hero {
    max-width: 120rem;
  }
  /* partners */
  .partners-logo img {
    margin: 1.6rem 0;
  }
  /* gallery */
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*************************************/
/* BELOW 1185px (Landscape Tablets) */
/***********************************/
@media (max-width: 75em) {
  /* global */
  html {
    font-size: 56.25%;
  }
  /* grid */
  .grid {
    column-gap: 3.2rem;
  }
  /* grid--contact-details__div */
  /* to checkout on each section => pricing!...*/
  // .grid--3-cols {
  //   grid-template-columns: repeat(3, 1fr);
  // }
  .grid--hero {
    gap: 4.8rem;
  }
  .grid--testimonial-section {
    grid-template-columns: 1fr;
  }
  .grid--footer {
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }
  /* heading */
  .heading-secondary {
    font-size: 3.6rem;
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }
  /* header */
  .header {
    padding: 0 3.2rem;
  }
  .primary-nav-list {
    gap: 3.2rem;
  }
  /* container */
  .container--md {
    max-width: 100%;
  }
  /* partners */
  .partners-logo {
    gap: 1.6rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .partners-logo img {
    margin: 3.2rem 1.6rem;
    height: 4.8rem;
  }
  /* testimonials */
  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }
  /* gallery */
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  /*  pricing-plan  */
  .pricing-plan .pricing-plan__card--complete::after {
    right: -24%;
  }
  .pricing-plan .plan .plan__name {
    font-size: 1.8rem;
  }
  .pricing-plan .plan .plan__price {
    font-size: 3rem;
  }
  .pricing-plan .plan .plan__price span {
    font-size: 2.2rem;
  }
  .pricing-plan .plan .plan__text {
    font-size: 1.5rem;
  }
  .pricing-plan .plan .plan__list .list-item {
    font-size: 1.4rem;
  }
  .pricing-plan .plan .plan__list .icon-sm {
    width: 3rem;
    height: 3rem;
  }
  .pricing-plan .plan .plan__btn {
    margin: 3.2rem auto 0;
  }
  .pricing-plan .plan .plan__btn a {
    font-size: 1.4rem;
    padding: 1.2rem;
  }
}

/****************************/
/* BELOW 928px (Tablets)   */
/**************************/
@media (max-width: 59em) {
  /* global */
  html {
    font-size: 50%;
  }
  textarea {
    text-indent: -60px;
  }
  /* grid */
  .grid--3-cols {
    grid-template-columns: 1fr;
  }
  .grid--hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
  }
  /*  grid--contact-details__div  */
  .contact-details .grid {
    row-gap: 12.8rem;
  }
  /* grid footer */
  .footer .grid--footer {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer .grid {
    row-gap: 6.4rem;
    column-gap: 0;
  }
  .footer .grid .col-address,
  .footer .grid .col-nav {
    margin-left: 33%;
  }
  /* header */
  .site-header .header {
    padding: 0 2.4rem;
  }
  .primary-nav {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;

    transform: translateX(100%);
    transition: all 0.45s ease-in-out;

    opacity: 0;
  }

  .primary-nav-list {
    opacity: 0;
  }

  .primary-nav--is-visible {
    transform: translateX(0);
    background-color: #232323;
    pointer-events: auto;
    opacity: 1;
    z-index: 10000;
  }
  .primary-nav--is-visible .primary-nav-list {
    opacity: 1;
  }
  .primary-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }
  .primary-nav .link:link,
  .primary-nav .link:visited {
    font-size: 3rem;
  }
  .primary-nav .btn:link,
  .primary-nav .btn:visited {
    font-size: 2.4rem;
  }
  /* hero */
  .hero .txt-box--hero {
    width: 100%;
    text-align: center;
    padding-top: 12.8rem;
  }
  .hero .txt-box--hero .btn-wrapper {
    width: 40%;
    margin: 0 auto;
  }
  .hero .txt-box--hero .btn--blue {
    margin-top: 6.4rem;
  }
  .hero .img-box--hero picture,
  .hero .img-box--hero {
    display: none;
  }

  .hero .customers-profiles {
    justify-content: center;
    flex-direction: column;
  }
  /* how */
  .step-number {
    font-size: 7.4rem;
  }
  /* partners */
  .partners-logo {
    gap: 0;
  }
  /* cta */
  .cta {
    /* 3/5 = 60% + 2/5 = 40% */
    grid-template-columns: 3fr 2fr;
  }
  .cta-form {
    grid-template-columns: 1fr;
  }
  /*   menu-icon  */
  .menu-icon {
    position: absolute;
    width: 32px;
    height: 18px;
    top: 1.4rem;
    right: 2.4rem;
    z-index: 10001;
    cursor: pointer;
    display: block;
  }
  .menu-icon::before {
    position: absolute;
    top: 0rem;
    left: 0rem;
    content: "";
    width: 33px;
    height: 3px;
    border-radius: 2px;
    background-color: #fff;
    opacity: 0.85;
    transition: transform 0.2s linear;
  }
  .menu-icon__middle {
    position: absolute;
    top: 8px;
    left: 0;
    border-radius: 1px;
    width: 33px;
    height: 2px;
    background-color: #fff;
    opacity: 0.85;
    transition: all 0.2s linear;
  }
  .menu-icon::after {
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    content: "";
    width: 33px;
    height: 3px;
    border-radius: 2px;
    background-color: #fff;
    opacity: 0.85;
    transition: transform 0.2s linear;
  }
  .menu-icon--close-x::before {
    transform: rotate(-405deg) translate(-4px, 6px);
  }
  .menu-icon--close-x .menu-icon__middle {
    opacity: 0;
    transform: scaleX(0);
  }
  .menu-icon--close-x::after {
    transform: rotate(405deg) translate(-4px, -7px);
  }
  /* dashboard */
  .dashboard-logged h4,
  .dashboard-login h4 {
    padding-left: 2.4rem;
  }
  .dashboard-logged p:first-child {
    padding-left: 2.4rem;
  }
  .dashboard-logged p:last-child {
    display: none;
  }

  /*  pricing-plan  */
  .pricing-plan .pricing-plan__card {
    width: 70%;
    margin: 0 auto;
  }
  .pricing-plan .pricing-plan__card--starter,
  .pricing-plan .pricing-plan__card--intermediate,
  .pricing-plan .pricing-plan__card--complete {
    justify-self: center;
  }
  .pricing-plan .pricing-plan__card--complete::after {
    right: -12%;
  }
  .pricing-plan .plan .plan__name {
    font-size: 2.4rem;
  }
  .pricing-plan .plan .plan__price {
    font-size: 4.8rem;
  }
  .pricing-plan .plan .plan__price span {
    font-size: 3rem;
  }
  .pricing-plan .plan .plan__text {
    font-size: 1.7rem;
  }
  .pricing-plan .plan .plan__list .list-item {
    font-size: 1.6rem;
  }
  .pricing-plan .plan .plan__list .icon-sm {
    width: 3.2rem;
    height: 3.2rem;
  }
  .pricing-plan .plan .plan__btn {
    width: 70%;
    margin: 4.8rem auto 0;
  }
  .pricing-plan .plan .plan__btn a {
    font-size: 1.6rem;
    padding: 1.2rem 1.6rem;
  }

  /*  Feature  */
  // maybe a tac / tal pattern
  // to apply on testimonial ??
  // or to simplify on both patterns
  // removing CSS classes
  .feature {
    text-align: center;
  }

  /* footer */
  .footer .grid--footer .col-logo {
    grid-row: 2;
    grid-column: span 6;
    text-align: center;
  }
  .footer .grid--footer .col-logo span img {
    display: block;
    margin: 0 auto;
  }
  .footer .grid--footer .col-logo .logo--footer {
    height: 20rem;
  }

  /* contact-details */
  .contact-details div .subheading {
    padding-left: 23%;
    width: 65%;
  }
  .contact-details .contact-details__div .col-nav,
  .contact-details .contact-details__div .col-address {
    padding-left: 5%;
    margin: 0 auto;
    width: 65%;
  }
  .contact-details .contact-details__div:nth-child(2) .col-nav h4,
  .contact-details .contact-details__div:first-child .col-address h4,
  .contact-details .contact-details__div:last-child .col-nav h4 {
    margin-bottom: 3.2rem;
  }
  .contact-details
    .contact-details__div:first-child
    .col-address
    p:first-of-type,
  .contact-details .contact-details__div:last-child .col-nav p,
  .contact-details .contact-details__div:nth-child(2) .col-nav p {
    margin-bottom: 3.2rem;
  }
  .contact-details .contact-details__div:first-child .contacts p:first-of-type,
  .contact-details
    .contact-details__div:first-child
    .col-address
    .social-links {
    margin-bottom: 1.8rem;
  }
}

/**********************************/
/* BELOW 690px (Smaller tablets) */
/********************************/
@media (max-width: 44em) {
  /*  global  */
  body {
    overflow-x: visible;
  }
  /* grid */
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  /* checkout pricing... */
  // .grid {
  //   row-gap: 12.8rem;
  // }
  /*  grid--contact-details__div  */
  // setup on large device 944px
  // .contact-details .grid {
  //   row-gap: 12.8rem;
  // }
  /*  grid footer  */
  .footer {
    display: block;
    padding-bottom: 0;
  }
  .footer .grid--footer {
    height: 690px;
    grid-template-columns: auto;
    row-gap: 6.4rem;
    grid-template-rows: 22% 25% 16% 16%;
    grid-template-areas:
      "col-address"
      "col-nav1"
      "col-nav2"
      "col-logo";
  }
  .footer .grid--footer .col-address {
    grid-area: col-address;
  }
  .footer .grid--footer:nth-child(2) {
    grid-area: col-nav1;
  }
  .footer .grid--footer:nth-child(3) {
    grid-area: col-nav2;
  }
  .footer .grid--footer .col-logo {
    grid-area: col-logo;
  }
  /* hero */
  .hero .txt-box--hero .btn-wrapper {
    width: 50%;
  }
  /* pricing-plan */
  .pricing-plan .pricing-plan__card {
    width: 70%;
  }
  .pricing-plan .pricing-plan__card--complete::after {
    right: -16%;
    top: 8%;
  }
  /* dashboard */
  .dashboard-logged-list {
    gap: 2rem;
  }
  .dashboard-logged-nav .dashboard-logged-list li ion-icon {
    padding-right: 0.3rem;
  }
  /* cta */
  .cta {
    grid-template-columns: 1fr;
  }
  .cta-text-box {
    padding: 3.2rem;
  }
  .img-box--cta {
    height: 40rem;
    background-position: 50% 40%;
    grid-row: 1;
  }
  /*  footer  */
  .footer .grid--footer .col-logo .logo--footer {
    height: 5rem;
  }
  .footer .grid--footer .col-logo .copyright {
    text-align: center;
  }
  .footer .grid .col-address,
  .footer .grid .col-nav {
    margin-left: 10%;
  }
  /* contact-details */
  .contact-details div .subheading {
    padding-left: 10%;
  }
  .contact-details .contact-details__div .col-address,
  .contact-details .contact-details__div .col-nav {
    padding-left: 0;
  }
  .contact-details div .subheading,
  .contact-details .contact-details__div .col-nav,
  .contact-details .contact-details__div .col-address {
    width: 80%;
  }
}

/**************************/
/* BELOW 529px (Phones) */
/**************************/

@media (max-width: 34em) {
  /* grid */
  .grid--2-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }
  .grid--hero {
    padding: 0 3.2rem;
  }
  /* headings */
  .heading-primary {
    font-size: 4.4rem;
  }
  /* hero */
  .hero .txt-box--hero .btn-wrapper {
    width: 80%;
  }
  /* how */
  .img-box--step:nth-child(2) {
    grid-row: 1;
  }
  .img-box--step:nth-child(6) {
    grid-row: 5;
  }
  .img-box--step {
    transform: translateY(2.4rem);
  }
  /* testimonials */
  .testimonials {
    grid-template-columns: 1fr;
  }
  /* pricing-plan */
  .pricing-plan .pricing-plan__card {
    width: 100%;
  }
  .pricing-plan .pricing-plan__card--complete::after {
    top: 7%;
    right: -14%;
  }
  /* gallery */
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
  /* contact-details */
  .contact-details div .subheading {
    padding-left: 5%;
  }
  .contact-details .contact-details__div .col-nav,
  .contact-details .contact-details__div .col-address {
    padding-left: 0;
    width: 90%;
  }
}

/*******************************/
/* BELOW 460px (Small Phones) */
/*****************************/

// @media (max-width: 30em) {
// }

/******************************/
/* Fixing Safari flexbox gap */
/****************************/
.no-flexbox-gap .list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}
.no-flexbox-gap .list-item ion-icon:not(:last-child) {
  margin-right: 1.6rem;
}
.no-flexbox-gap .customers-profiles {
  margin-right: 1.6rem;
}
.no-flexbox-gap .social-links li:not(:last-child) {
  margin-right: 2.4rem;
}
@media (max-width: 75em) {
  .no-flexbox-gap .primary-nav-list li:not(:last-child) {
    margin-right: 3.2rem;
  }
}
@media (max-width: 59em) {
  .no-flexbox-gap .primary-nav-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
}
