/***   LAYOUT  ****/
/*************/
/*  HEADER  */
/***********/
.site-header {
  position: fixed;
  width: 100%;
  background-color: #232323;
  z-index: 5000;
  display: block;
  transition: all 0.1s ease-in-out;
}
.site-header .header a svg path {
  fill: #fff;
}
.site-header .header {
  border-bottom: 1px solid #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
  transition: all 0.3s ease-in;
  position: relative;
}
.site-header .header .primary-nav a {
  color: #fff;
}
.site-header .header .primary-nav .btn--blue {
  color: #333;
}

/*   MENU ICON  */
.menu-icon {
  display: none;
}

/**********/
/* HERO  */
/********/
.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  align-items: center;
}
.hero-bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 20%;
}
.hero .txt-box--hero .btn-wrapper {
  width: 60%;
}

.img-box--hero {
  margin-left: auto;
  margin-right: auto;
}

/*  Contact hero bg  */
.contact-hero-bg {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 17, 34, 0.4),
      rgba(0, 17, 34, 0.05)
    ),
    url("../img/full-w-hero/contact2-hero.png");
}
/*  Blog hero bg  */
.blog-hero-bg {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 17, 34, 0.85),
      rgba(0, 17, 34, 0.05)
    ),
    url("../img/full-w-hero/blog-hero.png");
}

/* Customers profiles  */
.customers-profiles {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.customers-profiles-imgs {
  display: flex;
}
.customers-profiles-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  margin-right: -1.6rem;
  border: 3px solid #e8f8ff;
}
.customers-profiles-imgs img:last-child {
  margin: 0;
}

/********************/
/* LOGIN & ADDPOST */
/******************/
.text-box--login,
.text-box--add-post {
  padding: 0 3.2rem;
}

/**************/
/* PARTNERS  */
/************/
.partners-logo {
  display: flex;
  justify-content: space-around;
  gap: 3.2rem;
}
.partners-logo img {
  height: 6.4rem;
  width: auto;
  filter: brightness(0);
  opacity: 30%;
}

/*********/
/* STEP */
/*******/
.step-number {
  font-size: 8.6rem;
  color: #888888a9;
}
/*  Img-box Step  */
.img-box--step {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}
.img-box--step::before,
.img-box--step::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img-box--step::before {
  background-color: #99c7dbaf;
  width: 60%;
  /* 60% of parent's width */
  padding-bottom: 60%;
}
.img-box--step::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #e8f8ff;
}
.img-box--step img {
  z-index: 1;
}

/******************/
/* TESTIMONIALS  */
/****************/
.testimonials {
  padding: 4.8rem 9.6rem 9.6rem;
}
.testimonials img {
  width: 6.4rem;
}
.testimonial-name {
  color: #6f6f6f;
}
/************/
/* GALLERY */
/**********/
.gallery {
  padding: 1.6rem;
}
.gallery-item {
  overflow: hidden;
}
.gallery-item img {
  display: block;
  transition: all 0.4s;
}
.gallery-item img:hover {
  transform: scale(1.1);
}

/****************/
/*   PRICING   */
/**************/
/*  Pricing  */
.pricing-plan {
  width: 100%;
  transition: all 0.4s ease-in-out;
}
.pricing-plan--starter,
.pricing-plan--intermediate {
  justify-self: end;
  padding: 3.5rem 2rem;
}
.pricing-plan--complete {
  padding: 3.5rem 2rem;
  position: relative;
  overflow: hidden;
}
.pricing-plan--complete::after {
  content: "Meilleur Prix";
  position: absolute;
  top: 6%;
  right: -18%;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #232323;
  background-color: #fff300;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}
/*  Plan  */
.plan-name {
  font-size: 2rem;
  letter-spacing: 0.75;
}
.plan-price {
  font-size: 4.8rem;
}
.plan-price span {
  font-size: 3rem;
  margin-right: 0.8rem;
}
.plan-text {
  color: #6f6f6f;
}
/*  Feature  */
.feature ion-icon {
  background-color: #e8f8ff;
  padding: 1.6rem;
}
.feature-title {
  font-size: 2.4rem;
}

/**********/
/*  CTA  */
/********/
.cta {
  overflow: hidden;
}
.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}
/*  Img-box Cta  */
.img-box--cta {
  background-image: linear-gradient(to right bottom, #ffffff0d, #ffffff0d),
    url("../img/coach/coach-bd-hbx2.png");
  background-size: cover;
  background-position: center;
}
.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem #23232380;
}

/***********/
/* FOOTER */
/*********/
.footer {
  padding: 6.4rem 0 3.2rem;
  border-top: 1px solid #eee;
}
.col-logo {
  display: flex;
  flex-direction: column;
}
.footer-logo {
  display: block;
}
/* social-links */
.social-links {
  display: flex;
  gap: 1.2rem;
}
/* copyright */
.copyright {
  color: #767676;
  padding-right: 2.4rem;
}
/* contacts */
.contacts {
  font-style: normal;
}
.col-nav button {
  border: none;
  background-color: transparent;
  transition: all 0.5s;
}
.col-nav button:active,
.col-nav button:focus {
  font-weight: 500;
  text-decoration: underline;
}
