/********************/
/* CONTACT-DETAILS */
/******************/
.contact-details .contact-details__div:first-child .col-address h4,
.contact-details .contact-details__div:nth-child(2) .col-nav h4 {
  margin-bottom: 9.8rem;
}
.contact-details
  .contact-details__div:first-child
  .col-address
  p:first-of-type {
  margin-bottom: 6.4rem;
}
.contact-details .contact-details__div:nth-child(2) .col-nav p,
.contact-details .contact-details__div:last-child .col-nav p {
  margin-bottom: 6.4rem;
}
.contact-details .contact-details__div:last-child .col-nav h4 {
  margin-bottom: 4.8rem;
}

.contact-details .contact-details__div:first-child .contacts p:first-of-type,
.contact-details .contact-details__div:first-child .col-address .social-links {
  margin-bottom: 3.2rem;
}
.contact-details .contact-details__div .col-nav li .link {
  font-size: 1.8rem;
}
/***************/
/*  ALERTS    */
/*************/
.alert {
  display: block;
  margin: 0 auto 0.8rem;
  padding: 0.4rem 0;
  background-color: whitesmoke;
  box-shadow: 0 4px 5px 0 rgba(45, 54, 65, 0.75);
}
.alert p {
  text-indent: 2.4rem;
}
.alert-success {
  color: #42ba96;
}
/*******************/
/* FLASH MESSAGES */
/*****************/
.flash-messages {
  background-color: transparent;
  position: fixed;
  width: 40%;
  top: 9.6rem;
  left: 50%;
  transform: translateX(-50%);
}

/***************/
/* FORM SMALL */
/*************/
.form-small input[typ="submit"],
.form-small button[type="submit"] {
  margin: 0 auto;
}
/********************/
/* LOGIN & REGISTER  */
/******************/
.register .register--text,
.login .login--text {
  padding: 0 3.2rem;
}
/****************/
/* EDIT POST */
/**************/
/* style all section */
.edit-post {
}
.edit-post .post-content {
  padding: 0 3.2rem;
}
/* input source_link indentation issue */
.add-post .source-link input,
.edit-post .source-link input {
}
/***************/
/*  CKEDITOR  */
/*************/
/*Textbox*/
.ck-editor__editable {
  min-height: 350px;
  max-height: 350px;
  min-width: 100%;
  // max-width: 450px;
  max-width: 450px;
  width: 100%;
}
/*Toolbar*/
.ck-editor__top {
  min-width: 100%;
  max-width: 450px;
  width: 100%;
}
/*Scrollbar*/
.ck-editor ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #fff;
}
.ck-editor ::-webkit-scrollbar {
  width: 14px;
  background-color: #fff;
}
.ck-editor ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(115, 115, 115);
}

/*  Lists issue on add & edit post within editor func */
// #editor ul li,
// #editor ol li {
//   list-style-type: circle !important;
// }

/****************/
/* HERO fullW  */
/**************/
.hero--fullW {
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden;
}
.hero--fullW div picture img {
  width: 100%;
}
.hero--fullW__heading {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  padding: 4.8rem;
  background-color: rgba(255, 255, 255, 0.85);
}

/*******************/
/* POST PAGE HERO  */
/******************/
.post-page-hero {
  width: 100%;
  height: 90vh;
  position: relative;
  // padding-bottom: 20%;
  overflow: hidden;
}
.post-page-hero div picture img {
  width: 100%;
}
.post-page-hero__heading {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  padding: 4.8rem;
  background-color: rgba(255, 255, 255, 0.85);
}

/**********************/
/* POST-PAGE-CONTENT */
/* POSTS POST  */
/********************/
/* posts post */
.posts .post {
  width: 100%;
}
.post-content {
  padding: 0 6.4rem 6.4rem 6.4rem;
}
.posts .post .img img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
/* post-page */
.post-page {
  width: 75%;
  margin: 9.6rem auto 0;
}
.post-page div .post-content {
  margin-left: auto;
  margin-right: auto;
}
.post-page .post-content h1 {
  font-size: 3rem;
  line-height: 1.5;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
  color: #46a1c9;
  font-family: "EB Garamond", serif;
}
.post-page .post-content h2 {
  font-size: 1.8rem;
  margin-top: 2.4rem;
  margin-bottom: 1.2rem;
  font-family: "Montserrat", sans-serif;
}
.posts .post .post-content h2,
.posts .post .post-content h1 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}
.posts .post .post-content h1 {
  font-size: 2.4rem;
  font-weight: 400;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}
.posts .post .post-content ol li,
.posts .post .post-content ul li {
  font-size: 1.7rem;
  font-weight: 400;
  margin-top: 0.8rem;
  margin-bottom: 1.6rem;
}

.post-page .post-content p,
.posts .post .post-content p,
.posts .post .post-content p strong,
.post-page .post-content ol li,
.post-page .post-content ul li {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.4;
  color: #232323;
  font-family: "Montserrat", sans-serif;
}

/* blockquote */
.post-page .post-content blockquote {
  width: 100%;
  padding-left: 1.8rem;
  margin: 4.8rem 0;
}
.post-page .post-content blockquote p {
  font-family: "EB Garamond", serif;
  font-size: 1.7rem;
  font-weight: 100;
  font-style: italic;
  line-height: 1.4;
  color: #888;
}
/* paragraph */
.post-page .post-content p,
/* to check it out */
.posts .post .post-content p {
  padding: 0 0 1.4rem 0 !important;
}
.post-page .post-content p strong {
  color: #46a1c9;
}

/* lists */
.post-page .post-content ol li,
.post-page .post-content ul li {
  padding: 0 0 0.8rem 0;
}
.posts .post .post-content ol,
.posts .post .post-content ul,
.post-page .post-content ul,
.post-page .post-content ol {
  padding-left: 3.2rem;
}
.posts .post .post-content ul li ul,
.post-page .post-content ul li ul {
  padding-left: 0;
  padding-top: 0.8rem;
  font-weight: 400;
}
.posts .post .post-content ul li,
.post-page .post-content ul li {
  list-style-type: disc;
}
.posts .post .post-content ol li,
.post-page .post-content ol li {
  list-style-type: decimal;
}

/****************/
/*  DATATABLE  */
/**************/
.dataTables_length label,
.dataTables_filter label {
  font-size: 1.4rem;
  line-height: 1.2;
  margin-bottom: 1.2rem;
}

.dataTables_length label {
  width: 65px;
}
.dataTables_paginate,
.dataTables_info {
  padding-bottom: 1.2rem;
}
.dataTables_info {
  font-size: 1.4rem;
  line-height: 1.2;
}
.dataTables_paginate {
  font-size: 1.4rem;
  line-height: 1.2;
}
/*  tables  */
#myTable_wrapper.dataTables_wrapper {
  width: 85%;
  margin: 0 auto;
}
#myTable th,
table#myTable {
  border-bottom-color: #23232366;
}
#myTable .td-links {
  width: 20%;
}
.td-links a:first-child {
  margin-right: 2.4rem;
}
/***************/
/* LINKS TABLE */
/*************/
.td-links a,
.td-links form {
  display: inline-block;
  margin-bottom: 0.1rem;
  border-bottom: 1px solid #232323;
}
.td-links a,
.td-links form input {
  font-size: 1.6rem;
  padding: 0.8rem;
  color: #232323c9;
}

/* Links on hover */

/*  Third variants black  */
.td-link-yellow {
  background-color: #fffae0;
}
.td-link-blue {
  background-color: #46a1c9;
}
