/*******************/
/***   LAYOUT  ****/
/*****************/
/*    HEADER    */
/***************/
.site-header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #232323;
  z-index: 5000;
  display: block;
  transition: all 0.1s ease-in-out;
}
.site-header .header a svg path {
  fill: #fff;
}
.site-header .header {
  border-bottom: 1px solid #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
  transition: all 0.3s ease-in;
  position: relative;
}
.site-header .header .primary-nav a {
  color: #fff;
}
.site-header .header .primary-nav .btn--blue {
  color: #333;
}
/*   menu icon  */
.menu-icon {
  display: none;
}

/**********/
/* HERO  */
/********/
/* main hero */
.hero {
  max-width: 130rem;
  margin: 0 auto;
  align-items: center;
}
.hero .hero--txt .btn-wrapper {
  width: 60%;
}
.hero .hero--txt {
  padding-top: 4.8rem;
}
.hero .hero--img {
  margin-left: auto;
  margin-right: auto;
  padding-top: 4.8rem;
}
/* full-width  */
.full-width {
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden;
}
.full-width div picture img {
  width: 100%;
}
.full-width__heading {
  position: absolute;
  padding: 4.8rem;
  background-color: rgba(255, 255, 255, 0.85);
}
.full-width__heading--center {
  top: 40%;
  left: 50%;
  width: 60%;
  transform: translateX(-50%);
}
.full-width__heading--left {
  left: 10%;
  top: 30%;
  width: 75%;
  transform: translateX(0);
}
/* customers profiles  */
.customers-profiles {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.customers-profiles__imgs {
  display: flex;
}
.customers-profiles__imgs img {
  height: 4.8rem;
  width: 4.8rem;
  margin-right: -1.6rem;
  border: 3px solid #e8f8ff;
}
.customers-profiles__imgs img:last-child {
  margin: 0;
}

/**************/
/* PARTNERS  */
/************/
.partners-logo {
  display: flex;
  justify-content: space-around;
  gap: 3.2rem;
}
.partners-logo img {
  height: 6.4rem;
  width: auto;
  filter: brightness(0);
  opacity: 30%;
}

/*********/
/* HOW IT WORK STEP */
/*******/
.step .step__number {
  font-size: 8.6rem;
  color: #888888a9;
}
.step .step__img-box {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}
.step .step__img-box::before,
.step .step__img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step .step__img-box::before {
  background-color: #99c7dbaf;
  width: 60%;
  /* 60% of parent's width */
  padding-bottom: 60%;
}
.step .step__img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #e8f8ff;
}
.step .step__img-box img {
  z-index: 1;
}

/******************/
/* TESTIMONIALS  */
/****************/
.testimonials {
  padding: 1.8rem 9.6rem 4.8rem;
}
.testimonials img {
  width: 6.4rem;
}
.testimonial-name {
  color: #6f6f6f;
}
/* gallery */
.gallery {
  padding: 1.8rem;
}
.gallery__item {
  overflow: hidden;
}
.gallery__item img {
  display: block;
  transition: all 0.4s;
}
.gallery__item img:hover {
  transform: scale(1.1);
}

/*********************/
/*   PRICING-PLAN   */
/*******************/
/*  pricing plan  */
.pricing-plan .pricing-plan__card {
  width: 100%;
  transition: all 0.4s ease-in-out;
}
.pricing-plan .pricing-plan__card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem #2323230f;
}
.pricing-plan .pricing-plan__card--starter,
.pricing-plan .pricing-plan__card--intermediate {
  justify-self: end;
  padding: 3.5rem 2rem;
}
.pricing-plan .pricing-plan__card--complete {
  padding: 3.5rem 2rem;
  position: relative;
  overflow: hidden;
}
.pricing-plan .pricing-plan__card--complete::after {
  content: "Meilleur Prix";
  position: absolute;
  top: 6%;
  right: -24%;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #232323;
  background-color: #fff300;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}
.pricing-plan .plan .plan__btn {
  width: 90%;
  margin: 4.8rem auto 0;
}
/*  plan  */
.plan .plan__name {
  font-size: 2rem;
}
.plan .plan__price {
  font-size: 4.8rem;
}
.plan .plan__price span {
  font-size: 3rem;
  margin-right: 0.8rem;
}
.plan .plan__text {
  color: #6f6f6f;
}

/*  feature  */
.feature {
  text-align: left;
}
.feature ion-icon {
  background-color: #e8f8ff;
  padding: 1.6rem;
}
.feature h3 {
  font-size: 2rem;
}
/********************/
/* CONTACT-DETAILS */
/******************/
.contact-details .contact-details__div:first-child .col-address h4,
.contact-details .contact-details__div:nth-child(2) .col-nav h4 {
  margin-bottom: 9.8rem;
}
.contact-details
  .contact-details__div:first-child
  .col-address
  p:first-of-type {
  margin-bottom: 6.4rem;
}
.contact-details .contact-details__div:nth-child(2) .col-nav p,
.contact-details .contact-details__div:last-child .col-nav p {
  margin-bottom: 6.4rem;
}
.contact-details .contact-details__div:last-child .col-nav h4 {
  margin-bottom: 4.8rem;
}

.contact-details .contact-details__div:first-child .contacts p:first-of-type,
.contact-details .contact-details__div:first-child .col-address .social-links {
  margin-bottom: 3.2rem;
}
.contact-details .contact-details__div .col-nav ul {
  display: flex;
  flex-direction: column;
}

.contact-details .contact-details__div .col-nav li .link {
  font-size: 1.8rem;
}

/***************/
/*   FORMS    */
/*************/
/* form-contact */
.form-contact .container .form-contact__content {
  padding: 4.8rem;
  background-color: rgba(255, 255, 255, 0.5);
}
/* form-prospect */
.form-prospect {
  overflow: hidden;
}
.form-prospect__text-box {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.form-prospect__img-box {
  background-image: linear-gradient(to right bottom, #ffffff0d, #ffffff0d),
    url("../img/site/coach/coach-hbx-portrait.jpg");
  background-size: cover;
  background-position: center;
}

/* form-small  */
.form-small input[typ="submit"],
.form-small button[type="submit"] {
  margin: 0 auto;
}
/* form-admin prospect & partner */
.form-admin-prospect--display,
.form-admin-partner--display {
  display: inline-block;
}
.base-info-name,
.base-info-email,
.partner-company-name,
.partner-email {
  width: 40%;
}
.base-info-phone,
.location-code,
.location-city,
.type-coaching,
.type-partnership,
.type-activity,
.partner-city {
  width: 28%;
}
.address-nr {
  width: 100px;
}
.address-str {
  width: 65%;
}
.base-info-name,
.address-nr,
.partner-company-name,
.partner-city {
  margin-right: 10px;
}
.is-customer,
.free-course,
.is-web-business,
.have-deal {
  width: 150px;
}

.is-customer,
.is-web-business,
.have-deal {
  margin-left: 50px;
}
.is-customer input,
.free-course input,
.is-web-business input,
.have-deal input {
  box-shadow: none;
  width: 20px;
  align-self: center;
}

.is-customer div,
.free-course div,
.is-web-business div,
.have-deal div,
.type-activity div {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.is-customer label,
.is-customer label,
.is-web-business label,
.have-deal label {
  width: 130px;
  align-self: center;
}
/****************/
/*  DATATABLE  */
/**************/
.dataTables_length label,
.dataTables_filter label {
  font-size: 1.4rem;
  line-height: 1.2;
  margin-bottom: 1.2rem;
}
.dataTables_length label {
  width: 65px;
}
.dataTables_paginate,
.dataTables_info {
  padding-bottom: 1.2rem;
}
.dataTables_info {
  font-size: 1.4rem;
  line-height: 1.2;
}
.dataTables_paginate {
  font-size: 1.4rem;
  line-height: 1.2;
}
#myTable_wrapper.dataTables_wrapper {
  width: 93%;
  margin: 0 auto;
}
/************/
/*  TABLE  */
/**********/
/* table */
#myTable th,
table#myTable {
  border-bottom-color: #23232366;
}

/* table cells */
.cell {
  transition: all 0.3s ease-in-out;
}
#myTable .cell--btn,
#myTable .cell--date {
  width: 20%;
  text-align: center;
}
#myTable .cell--main {
  width: 60%;
  text-align: left;
}
.cell--date {
  font-size: 1.4rem;
}
.btn-table {
  margin-right: 2.4rem;
}
form .btn-table {
  margin-right: 0;
}
.cell--btn a,
.cell--btn form input {
  border-bottom: 1px solid #232323;
}
.cell--btn a,
.cell--btn form {
  display: inline-block;
}

/***********/
/* FOOTER */
/*********/
.footer {
  padding: 6.4rem 0 3.2rem;
  border-top: 1px solid #eee;
}
.col-logo {
  display: flex;
  flex-direction: column;
}
.col-logo:first-child {
  display: block;
}
/* copyright */
.copyright {
  color: #767676;
  padding-right: 2.4rem;
}
/* contacts */
.contacts {
  font-style: normal;
}
.col-nav ul li a,
.col-address address p,
.col-logo .copyright {
  font-weight: 200;
  padding: 0.8rem 0;
}
/* admin button */
.col-nav button {
  border: none;
  background-color: transparent;
  transition: all 0.5s;
  padding: 0.8rem 0 0;
}
.col-nav button:active,
.col-nav button:focus {
  font-weight: 500;
  text-decoration: underline;
}
